@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');





/* CSS FOR MOBILE / TABLET */
@media screen and (max-width: 768px)
/* @media screen and (max-width: 450px) */ {
    body {
        margin: 0px;
        height: 100%;
    }

    * {
        box-sizing: border-box;
    }

    /* APP */
    .wholepage {
        color: whitesmoke;
        font-size: 1.1em;
        font-family: 'Roboto Condensed', sans-serif;
        background-color: #033220;
    }

    /* HEADING */
    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name {
        font-family: 'Amatic SC', sans-serif;
        font-size: 3em;
        margin: 0px;
    }

    .job-title {
        font-family: 'Amatic SC', sans-serif;
        font-size: 2.5em;
        margin: 0px;
    }

    .me {
        border-radius: 50%;
    }

    /* DETAILS */
    .details-section {
        display: grid;
        grid-template-areas:
            'heading1'
            'textbox1'
            'heading2'
            'textbox2';
    }

    .details-section h3 {
        font-family: 'Amatic SC', sans-serif;
        font-size: 2em;
    }

    .header-about {
        grid-area: heading1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-stack {
        grid-area: heading2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about {
        background-color: #FFB7C6;
        border-radius: 20px;
        grid-area: textbox1;
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section div p{
        padding: 5px;
        margin: 0px;
    }

    .about-text {
        text-align: justify;
        overflow-wrap: break-word;
    }

    .stack {
        background-color: #FFB7C6;
        border-radius: 20px;
        grid-area: textbox2;
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stack-text {
        overflow-wrap: break-word;
        text-align: center;
    }

    /* PROJECTS */
    .projects-container {
        display: grid;
        grid-template-areas:
            'heading'
            'projects';
        
    }

    .project-title {
        font-family: 'Amatic SC', sans-serif;
        font-size: 2em;
        grid-area: heading;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project {
        background-color: #FFB7C6;
        border-radius: 20px;
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    /* INDIVIDUAL PROJECTS */
    .project-container {
        display: flex;
        flex-wrap: wrap;

    }

    .project-description  p {
        text-align: justify;
        /* COME BACK TO THIS - NOT WORKING */
        display: inline-block;
        word-break: break-word;
        overflow-wrap: break-word
    }

    .project-image {
        max-width: 80%;
        margin: auto;
        height: responsive;
    }

    /* CONTACT */
    .contact {
        display: grid;
        grid-template-areas:
            'heading'
            'email'
            'linkedin';
    }

    .contact-title {
        font-family: 'Amatic SC', sans-serif;
        font-size: 2em;
        grid-area: heading;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-info {
        grid-area: email;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
    }

    .linkedin {
        grid-area: linkedin;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}





/* CSS FOR DESKTOP COMPUTERS*/
@media (min-width: 1080px) {
    body {
        margin: 0px;
        height: 100%;
    }

    * {
        box-sizing: border-box;
    }

    /* APP */
    .wholepage {
        color: white;
        font-size: 1.1em;
        font-family: 'Roboto Condensed', sans-serif;
        background-color: #033220;
    }
    /* HEADING */
    .heading {
        display: flex;
    justify-content: space-evenly;
    align-items: center;
    }

    .name {
        font-family: 'Amatic SC', sans-serif;
        font-size: 4em;
    }

    .job-title {
        font-family: 'Amatic SC', sans-serif;
        font-size: 3em;
    }

    .me {
        border-radius: 50%;
    }
    /* DETAILS */
    .details-section {
        display: grid;
        grid-template-areas:
            'heading1 heading2'
            'textbox1 textbox2';
        grid-template-columns: 60% 40%;
    }

    .details-section h3 {
        font-family: 'Amatic SC', sans-serif;
        font-size: 2.5em;
    }

    .header-about {
        grid-area: heading1;
        margin: 15px 100px 15px 100px;
    }

    .header-stack {
        grid-area: heading2;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 0.6em;
    }

    .about {
        background-color: #FFB7C6;
        border-radius: 20px;
        margin: 25px 25px 25px 100px;
        /* top, right, bottom, left */
        grid-area: textbox1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section div p{
        padding: 5px;
        margin: 0px;
    }

    .about-text {
        text-align: justify;
        
    }

    .stack {
        background-color: #FFB7C6;
        border-radius: 20px;
        margin: 25px 100px 25px 25px;
        grid-area: textbox2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stack-text {
        overflow-wrap: break-word;
        
        display: flex;
        justify-content: space-between
    }

    /* PROJECTS */
    .projects-container {
        display: flex;
        flex-wrap: wrap;
        margin: 25px 100px 25px 100px;
        /* top, right, bottom, left */
    }

    .project-title {
        font-family: 'Amatic SC', sans-serif;
        font-size: 2.5em;
        margin-left: 100px;
    }

    .project {
        background-color: #FFB7C6;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin-bottom: 20px;
    }

    /* INDIVIDUAL PROJECTS */
    .project-container {
        display: grid;
        grid-template-areas:
            'project-text project-image';
    }

    .project-description {
        grid-area: project-text;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-image {
        height: 200px;
        grid-area: project-image;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* CONTACT */
    .contact {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 150px;
        margin-right: 150px;
    }

    .contact-title {
        font-family: 'Amatic SC', sans-serif;
        font-size: 2.5em;
        margin: 15px 100px 15px 100px;
    }

    .contact-info {
        font-size: 1em;
    }
}
